@mixin base-btn{
    box-shadow: $box-shadow-btn;
    border-radius: $box-radius-btn;  
    padding: 0.4em 1.5em;
    font-family: $font-family-st;
    background: #000;
    color: #fff;
    transition: linear background .2s;
    display: flex;
    justify-self: center;
    margin-top: 20px; 
    margin-bottom: 15px; 
   a {
    margin: auto;
   }
    &:hover {
        background: #e12e4b;
    } 
}

@mixin box-degrade ($color1: #39ff14, $color2: #40e0d0, $color3: #ff77c2, $color4: #ffffa7) {
  
    background: linear-gradient(
      to bottom right,
      $color1 0%,
      $color2 25%,
      $color3 50%,
      $color4 80%
    );

    margin-bottom: 50px;
   
}

@mixin stroke-title {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-black;
  paint-order: stroke fill;
  
}

@mixin box-base-home{
  box-shadow: $box-shadow-section;
  width: 80%;
  margin: auto;
  border-radius: $border-radius-box;
  padding: $padding-box;
  margin-bottom: 50px;
  border:2px solid black;

}

@mixin box-base-connect{
  box-shadow: $box-shadow-section;
  margin: auto;
  border-radius: $border-radius-box;
  padding: $padding-box;
  margin-bottom: 50px;
  border:2px solid black;
 
}

@mixin box-slide{
  text-align: center;
  width: 200px;
  background-color: $color-white;
  margin:$margin-box;
  padding:$margin-box;
  stroke: #dadada 1px mixed;
  border-radius:$border-radius-picture;
}

@mixin card-slide{

}

@mixin input-base{
  border-radius: $border-radius-input;
  margin-top: 10px;
  width: 250px;
  height: 30px;
}

@mixin title-degrade(){
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-image: -webkit-linear-gradient(23deg,#e12e4b 26%, #d8c21f 85%);
    font-weight: 800;
    line-height: 1;
}

@mixin box-base-home{
  box-shadow: $box-shadow-section;
  width: 90%;
  margin: auto;
  border-radius: $border-radius-box;
  padding: $padding-box;
  margin-bottom: 50px;
  border:2px solid black;

}
@mixin box-base-desktop {
  line-height: $font-line-height;
      width: 70%;
 
}