/* Font  */

    $font-family-base:"arial,sans-serif";
    $font-family-st: "Lobster", sans-serif;
    $font-style: normal;
  

  /* taille */
  $font-size-xl:40px;
    $font-size-title: 32px;
    $font-size-soustitre: 28px;
    $font-size-h3: 22px;
    $font-size-base: 16px;
    $font-size-sm: 14px;
    $font-size-xs:  10px;

    @media (max-width: 480px) {
      $font-size-base: $font-size-sm;
    }
    @media (min-width: 1024px){
      $font-size-soustitre: $font-size-xl;
    }
  

  /* le gras  (c'est la vie)*/
    $font-weight-title:800;

  /*  interligne  */

  $font-line-height: 2em;