// color
$color-white:#ffffff;
$color-green:#39ff14;
$color-pink:#ff77c2;
$color-blue:#40e0d0;
$color-grey:#dadada;
$color-yellow:#ffffa7;
$color-black:#000000;


//box radius
$box-radius-btn:15px;
$border-radius-box:10px;
$border-radius-picture:6px;


/* box shadow */
$box-shadow-btn: #000000 2px 8px 5px;
$box-shadow-picture: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-section: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


/* taille */
$width-btn:160px;
$height-btn:28px;

/* marge */
$padding-box:25px;
$margin-top-box:20px;
$margin-box:20px;
$margin-bottom:15px;
$padding-top:20px;
