.btn_ajout{
    @include base-btn();
    display: flex;
   justify-self: center;  
   
   a {
    margin: auto;
   }
}

.btn {
    padding: 0.6em 1.5em;
    font-family: $font-family-st;
    background: #000;
    color: #fff;
    border-radius: 99px;
    transition: linear background .2s;
    display: flex;
    justify-self: center;  
    margin-top: $margin-top-box;
   
   a {
    margin: auto;
   }
    
    &:hover {
        background: #e12e4b;
    }
}


.input-mail{
    @include input-base();
    width: 100%;
    @media (min-width : 1024px){
    width: 500px;
   margin:$margin-box;
   display: flex;
   justify-self: center;
  }
}
.input-pdw{

    @include input-base();
    @media (min-width : 1024px){
    width: 500px;
   margin:$margin-box;
   display: flex;
   justify-self: center;}
}
.search-bar {
    display: none;
    width:100px;
    height:25px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     @media (min-width: 1024px){
   width: 500px;
   
  } 
}

.search-bar {
    opacity: 0;
    visibility: hidden;
    height: 0; 
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease; 
    overflow: hidden; 

    width: 100px; 
    margin: 10px auto; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; 


    @media (min-width: 1024px) {
        width: 500px;
    }

    
    input[type="text"], input[type="search"] { 
        flex-grow: 1; 
        padding: 12px 15px;
        border: none;
        font-size: $font-size-sm;
        outline: none; 
        -webkit-appearance: none;
        appearance: none;

        @media(min-width : 1024px){
            font-size: 1em;
        }
    }

  
    button {
        background-color: $color-orange;
        color: $color-white;
        border: none;
        padding: 12px 20px;
        font-size: $font-size-sm;
        cursor: pointer;
        transition: background-color 0.3s ease;
        flex-shrink: 0; 

        &:hover {
            background-color: darken($color-orange, 10%); 
        }
    }

    
    &.active {
        opacity: 1;
        visibility: visible;
        height: auto; 
        
    }
}


#myBtn {
    background-color: $color-orange;
    color: white;
    border: solid red 2px;
}

#myBtn:hover {
    background-color: chartreuse;
}

.search-icon {
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
    
}