.btn_ajout{
    @include base-btn();
    display: flex;
   justify-self: center;  
   
   a{
    margin: auto;
   }
}

.input-mail{
    @include input-base();
    width: 100%;
    @media (min-width : 1024px){
    width: 500px;
   margin:$margin-box;
   display: flex;
   justify-self: center;
  }
}
.input-pdw{

    @include input-base();
    @media (min-width : 1024px){
    width: 500px;
   margin:$margin-box;
   display: flex;
   justify-self: center;}
}