.box-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: $margin-box;
 
  ul {
    padding-top: 20px;
    @media (min-width: 1024px){
      font-size: 12px;
      
    }
   
  }
  li {
    padding-bottom: 5px;
    text-align: center;
    
  }
 
  a{
    text-decoration: none;
    color:$color-black;
   
  
  }

  &_title {
    font-size: $font-size-sm;
    justify-content: center;
    text-align: center;
    padding-top: $padding-top;
    @media (min-width: 1024px){
      font-size: 18px;
      
    }
  }
}

.footer-copyright {
  text-align: center;
  align-items: center;
  padding: $padding-box;

@media (min-width: 1024px){
      font-size: 12px;
      
    }}
