.box-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  ul {
    padding-top: 20px;
    @media (min-width: 1024px){
      font-size: 12px; 
    }
   
  }
  li {
    padding-bottom: 5px;
    text-align: center;
  }
 
  a{
    text-decoration: none;
    color:$color-black;
   }

  &_title {
    font-size: $font-size-sm;
    justify-content: center;
    text-align: center;
    
    @media (min-width: 1024px){
      font-size: 18px;
    }
  }
}

.footer-copyright {
  text-align: center;
  align-items: center;
  padding: $padding-box;

@media (min-width: 1024px){
      font-size: 12px;
      
    }}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
 

  #logo {
    width: 80px;
    border-radius: 90px;

    @media (min-width: 1024px){
      width: 100px;
    }
  }
} 
.box-logo{
border-radius: 90px; 
width: 105px;
height: 105px;
background: linear-gradient(to right, #e12e4b , #d8c21f );
border: red solid 2px;
display:flex;
justify-content: center;

} 

.dot2 {
  border: chartreuse 2px solid;
  display:flex;
  justify-content: center;
  
 
}