
  
html {
  &.has-menu {
    body {
      // overflow: hidden;
    }
    .site-header .nav {
      transform: translateX(0);
    }
  }

  &.switch-menu {
    .site-header .nav {
      transition: transform linear .3s;
    }
  }
}


.site-header {
  display: flex;
  background: #111;
  color: #fff;
  align-items: center;

  #logo {
    width: 80px;
    border-radius: 90px;
    margin : 15px;
  }

  .logo-header {
    display: flex;
    margin-left: auto;


    ul li {
      display: inline;
      margin-right: 15px;
    }
  }

  .nav {
    position: fixed;
    width: 90vw;
    height: 100vh;
    background: #111;
    padding: 50px;
    z-index: var(--z-index-nav, 99999);
    transform: translateX(-100%);
    top: 0;
    left: 0;
    
    ul {
      li {
        font-size: 24px;

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }

        a {
          color: #fff;
        }
      }
    }
  }
}