
  
html {
  &.has-menu {
    body {
      // overflow: hidden;
    }
    .site-header .nav {
      transform: translateX(0);
    }
  }

  &.switch-menu {
    .site-header .nav {
      transition: transform linear .3s;
    }
  }
}


.site-header {
  display: flex;
  background: #111;
  color: #fff;
  align-items: center;

  #logo {
    width: 80px;
    border-radius: 90px;
    margin : 15px;
  }

  .logo-header {
    display: flex;
    margin-left: auto;


    ul li {
      display: inline;
      margin-right: 15px;
    }
  }

  .nav {
    position: fixed;
    width: 90vw;
    height: 80vh;
    background: #111;
    opacity: 0.95;
    padding: 60px;
    z-index: var(--z-index-nav, 99999);
    transform: translateX(-100%);
    top: 0;
    left: 0;
    
    ul {
      li {
        font-size: 26px;
      

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
       

        a {
          
          @include title-degrade;
           &::after{
          content:"";
          display:block;
          position: absolute;
          width: 0%;
          height: 3px;
          background: linear-gradient(23deg,#e12e4b 26%, #d8c21f 85%);;
          transform: scale (0);
          transition: width 0.2s ease-in-out;
        }
        &:hover::after {
          width: 60%;
        }
        }
      }
    }
  }
}
