h2{
    font-size: $font-size-title;
    text-align: center;
    margin-bottom: 15px;
    font-family: $font-family-st;
    
    
}
footer{
    background-color:$color-grey ;
    font-size: $font-size-xs;
}
.pseudo{
    color:$color-pseudo;
    margin-top:$margin-small-box;
    margin-bottom: $margin-small-box;
    
}
.logo-entre{
    width: 50px;
    color: white;
    margin-left: 250px;
    margin-top:150px;
    
}
h1{
    font-size: $font-size-title ;
    font-weight:$font-weight-title;
    text-align: center; 
    margin: $margin-box;
    
}
a{
    text-decoration: none;
    color: black;
}
iframe{
    margin-bottom: $margin-box;
}
.video{
    display:flex;
    justify-content: center;
    
}