
h2 {
  font-size: $font-size-soustitre;
  text-align: center;
  margin-bottom: 15px;
  font-family: $font-family-st;
  @include title-degrade;
  @media (min-width : 1024px){
  width: 30%;
  justify-self: center;
  text-align: center;
}
}
footer {
  background-color: $color-grey;
  font-size: $font-size-xs;
}
.pseudo {
  color: $color-pseudo;
  margin-top: $margin-small-box;
  margin-bottom: $margin-small-box;
}
.logo-entre {
  width: 50px;
  margin-left: 260px;
  margin-top: 190px;
  @media (min-width: 1024px) {
    width: 75px;
    margin-left: 370px;
    margin-top: 280px;
  }
}
h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-title;
  text-align: center;
  margin: $margin-box;
  @include title-degrade;
  display: flex;
  justify-content: center;
  padding-bottom: $padding-box;
  margin-top: $margin-top-xl;
  
}
a {
  text-decoration: none;
  color: black;
}
iframe {
  margin-bottom: $margin-box;
}
.video {
  display: flex;
  justify-content: center;
}
