.share-box-container {
  /* height: 100vh; */
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

body.has-share {
  overflow: hidden;
}

body.has-share .share-box-container {
  display: block;
  z-index: var(--z-index-modal);
}

.share-box {
  background: var(--color-white);
  border-radius: var(--modal-border);
  max-width: var(--max-modal-width);
  width: 80%;

  /* centrer verticalement et horizontalement avec un position: absolute */
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  position: absolute;
}

.share-box .share-title {
  padding: 20px;
  border-bottom: 1px solid #d7d3d3;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  @media (width< 600px) {
    flex-direction: column;
  }
}

.share-content {
  padding: 20px;
}
.share-ou{
  padding: 20px;
  
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}