.intro {
  font-size: 18px;
  padding-bottom: $padding-box;
}

.box-herbier {
  @include box-base-home();
}
.box-repertoire {
  @include box-base-home();
  @include box-slide();

  #boxRepertoire {
    box-shadow: $box-shadow-section;
    margin-bottom: $margin-top-xl;
    padding-bottom: $padding-box;
    background-color: $color-grey;
  }
}
.slide {
  display: flex;
  overflow-x: auto;
}

.newletter {
  @include box-base-home();
  margin-top: $margin-top-xl;
}

.box-advice {
  @include box-base-home;
}

.box-forum {
  padding: $padding-small-box;
  border-top: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  h2 {
    background-color: $color-grey;
    @include box-base-home;
    padding: 10px;
    border: 1px solid black;
  }
  .number-answer {
    width: 100px;
    height: 50px;
    background-color: $color-grey;
    text-align: center;
    padding-top: $padding-small-box;
    translate: 0 30%;
    font-size: 12px;
    border-radius: 8px;
  }
  h3 {
    font-size: $font-size-h3;
    @include stroke-title;
    color: $color-blue;
    font-family: $font-family-st;
    text-align: center;
  }
  .question {
    width: 100%;
    margin: 0;
    padding: $padding-p;

    &_1 {
      background-color: $color-white;
      padding: $padding-p;
    }
    &_2 {
      background-color: $color-grey;
      margin-top: $margin-top-box;
      padding: $padding-p;
      .number-answer {
        background-color: white;
        border: red 1px solid;
      }
    }
    &_3 {
      background-color: $color-white;
      margin-top: $margin-top-box;
      padding: $padding-p;
    }
    .pseudo {
      margin-left: $margin-top-xl;
    }

    .container-box-forum {
      display: flex;
      padding-top: 15px;
      .box-icon {
        translate: 0 70%;
      }
      p {
        margin-left: $margin-small-box;
        margin-right: $margin-small-box;
      }
    }
  }
}

.box-music {
  @include box-base-home();
  background-image: url("/images/music-des-plantes.webp");
  background-size: 350px;
  width: 350px;
  height: 350px;
  margin-bottom: $margin-top-xl;
  margin-top: $margin-top-xl;
}
.box-bbg {
  @include box-base-home();
  background-image: url("/images/vertueuse.webp");
  background-size: 350px;
  width: 350px;
  height: 350px;
  margin-bottom: $margin-top-xl;
}
