
.titre-page{
    @include title-degrade;
    
   
}
.form-ajout-plante {

  text-align: center;
  

  input {
    border-radius: $border-radius-picture;
    margin: $margin-box;
    &[type="date"]{
    width: $width-btn;
    height: $height-btn;
    }
  }

  }
  .input-text-name {
    width:220px;
    height: 30px;
    text-align:center ;
    @media(min-width : 1024px){
      width: 400px;
      margin-bottom: 50px;
    }
  }
  .input-text {
    width: 60%;
    height: 200px;
    border:1px solid $color-grey;
    text-align: center;
   
  }

.drop-container{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: auto;
    height:200px;
    padding: $padding-top;
    border: 2px dashed $color-photo;
    color:$color-photo; //texte aucun fichier choisi voir comment le faire disparaitre
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    @media(min-width : 1024px){
      width: 60%;
      height: 300px;
      margin-bottom: 50px;
    }
}   
.drop-container:hover{
    background-color:$color-grey;
} 
.drop-title{
    color:$color-photo;
    font-size:  $font-size-h3;
    font-weight: bold;
    text-align: center;
    font-family:  $font-family-st;
}
input[type=file]{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}