h1.site-title {
  margin-left: 50px;
}

.intro {
  font-size: 18px;
  padding-bottom: $padding-box;
}

.box-music,
.box-bbg {
  @include box-base-home();
}

.box-herbier {
  margin-top: $margin-box;
  @include box-base-home();
}

#boxRepertoire {
  box-shadow: $box-shadow-section;
  margin-bottom: 50px;
  background-color: $color-grey;
  padding-bottom: 25px;

  h2 {
    color: $color-green;
    @include stroke-title();
    padding: $padding-box;
  }
}
.slide {
  display: flex;
  overflow-x: auto;
}
.box-repertoire {
  @include box-slide();
}

.newletter {
  @include box-base-home();
  h2 {
    color: $color-pink;
    @include stroke-title();
  }
}
.question {
  width: 90%;
  margin: auto;
  padding: 5px;
  h3 {
    font-size: 22px;
    @include stroke-title;
    color:$color-blue;
    font-family: $font-family-st;
  }
  .question_1,
  .question_3 {
    background-color: $color-white;
    margin-top: $margin-top-box;
    padding: $padding-p;
    border-radius: $border-radius-box;
  }
  .question_2 {
    background-color: $color-grey;
    margin-top: $margin-top-box;
    padding: $padding-p;
    border-radius: $border-radius-box;
  }
}
.mon-herbier h2 {
  color: $color-green;
  @include stroke-title();
}
.box-advice {
  @include box-base-home();

  h2 {
    color: $color-pink;
    @include stroke-title();
  }
}

.box-forum {
  @include box-degrade();
  padding-bottom: $padding-box;
  padding-top: $padding-box;
}
.box-bbg {
  background-image: url("/images/vertueuse.webp");
  background-size: 350px;
  width: 350px;
  height: 350px;
  margin-bottom: 50px;
}
.box-music {
  background-image: url("/images/music-des-plantes.webp");
  background-size: 350px;
  width: 350px;
  height: 350px;
  margin-bottom: 50px;
  h2 {
    color: $color-white;
  }
}
