h1.site-title {
  margin-left: 50px;
}

.intro {
  font-size: 18px;
  padding-bottom:$padding-box;
}

.box-conseil,
.box-music ,
.box-bbg{
  @include box-base-home();
}

.box-herbier {
  margin-top: $margin-box;
  @include box-base-home();
}

#boxRepertoire {
  box-shadow: $box-shadow-section;
  margin-bottom: 50px;
  background-color: $color-grey;
  padding-bottom: 25px;
  

  h2 {
    color: $color-green;
    @include stroke-title();
    padding: $padding-box;
  }
}
.slide {
  display: flex;
  overflow-x: auto;
}
.box-repertoire {
  @include box-slide();
}

.newletter {
  @include box-base-home();
  background-image: url("/images/petale-fleurs_11zon.webp");
  h2 {
    color: $color-pink;
    @include stroke-title();
  }
}

.question_1,
.question_3 {
  background-color: $color-white;
  margin-top: $margin-top-box;
}

.question_2 {
  background-color: $color-grey;
  margin-top: $margin-top-box;
}

.mon-herbier h2 {
  color: $color-green;
  @include stroke-title();
}

.box-advice h2 {
  color: $color-pink;
  @include stroke-title();
 
}

.box-forum {
  @include box-degrade();
  padding-bottom: $padding-box;
  padding-top: $padding-box;
}
.box-bbg  {
  background-image: url("/images/vertueuse.webp") ;
  background-size:350px;
  width: 350px;
  height:350px;
  margin-bottom: 50px;

  
}
.box-music  {
  background-image: url("/images/music-des-plantes.webp") ;
  background-size:350px;
  width: 350px;
  height:350px;
  margin-bottom:50px;
    h2{
      color:$color-white;
  }
}
